*.sw[pox]
tags
*.taghl
*.ignore
hw/src/__pycache__
hw/src/*/__pycache__
hw/src/build
hw/src/*_bmc
hw/src/*_cover
hw/src/*_prove
hw/src/*/*_bmc
hw/src/*/*_cover
hw/src/*/*_prove
*.il
*.tar
*.gz
*.tar.*
*.zip
*.vcd
